{
    "openapi": "3.0.1",
    "info": {
        "title": "Autharmor",
        "description":"Auth Armor - Auth Anywhere API",
        "version": "v4"
    },
    "servers": [
        {
            "url": "https://api.autharmor.com"
        }
    ],
    "paths": {
        "/v4/auth/magiclink_email/start": {
            "post": {
                "tags": [
                    "autharmor",
                    "Auth - MagicLink Email"
                ],
                "summary": "  Start auth request using Maigclink Email",
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_magiclink_email_auth_request"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_magiclink_email_auth_request"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_magiclink_email_auth_request"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_magiclink_email_auth_request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/start_magiclink_email_auth_response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/start_magiclink_email_auth_response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/start_magiclink_email_auth_response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/v4/auth/magiclink_email/validate": {
            "post": {
                "tags": [
                    "autharmor",
                    "Auth - MagicLink Email"
                ],
                "summary": "  Validate auth request for Magiclink Email",
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/validate_magiclink_email_auth_request"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/validate_magiclink_email_auth_request"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/validate_magiclink_email_auth_request"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/validate_magiclink_email_auth_request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/validate_auth_response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/validate_auth_response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/validate_auth_response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/v4/auth/authenticator/start": {
            "post": {
                "tags": [
                    "autharmor",
                    "Auth - Authenticator"
                ],
                "summary": "  Start auth request using Authenticator",
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_authenticator_auth_request"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_authenticator_auth_request"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_authenticator_auth_request"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_authenticator_auth_request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/start_authenticator_auth_response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/start_authenticator_auth_response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/start_authenticator_auth_response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/v4/auth/authenticator/validate": {
            "post": {
                "tags": [
                    "autharmor",
                    "Auth - Authenticator"
                ],
                "summary": " Validate auth request for Auth Armor Authenticator",
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/validate_autharmor_authenticator_auth_request"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/validate_autharmor_authenticator_auth_request"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/validate_autharmor_authenticator_auth_request"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/validate_autharmor_authenticator_auth_request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/validate_auth_response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/validate_auth_response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/validate_auth_response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/v4/auth/webauthn/start": {
            "post": {
                "tags": [
                    "autharmor",
                    "Auth - WebAuthn"
                ],
                "summary": " Start auth request using Webauthn",
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_webauthn_auth_request"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_webauthn_auth_request"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_webauthn_auth_request"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_webauthn_auth_request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/start_webauthn_auth_response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/start_webauthn_auth_response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/start_webauthn_auth_response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/v4/auth/webauthn/finish": {
            "post": {
                "tags": [
                    "autharmor",
                    "Auth - WebAuthn"
                ],
                "summary": "  Finish auth request using WebAuthn",
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/finish_webauthn_auth_request"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/finish_webauthn_auth_request"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/finish_webauthn_auth_request"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/finish_webauthn_auth_request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/finish_webauthn_auth_response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/finish_webauthn_auth_response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/finish_webauthn_auth_response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/v4/auth/webauthn/validate": {
            "post": {
                "tags": [
                    "autharmor",
                    "Auth - WebAuthn"
                ],
                "summary": "  Validate auth request for WebAuthn",
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/validate_webauthn_auth_request"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/validate_webauthn_auth_request"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/validate_webauthn_auth_request"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/validate_webauthn_auth_request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/validate_auth_response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/validate_auth_response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/validate_auth_response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/v4/auth/{auth_request_id}": {
            "get": {
                "tags": [
                    "autharmor",
                    "Auth Info"
                ],
                "summary": "  Get Auth Info",
                "parameters": [
                    {
                        "name": "auth_request_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_auth_request_response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_auth_request_response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_auth_request_response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/v4/users/registrations/authenticator/{registration_id}/validate": {
            "post": {
                "tags": [
                    "autharmor",
                    "User Registrations - Authenticator"
                ],
                "summary": "  Validate User Registration for Authenticator",
                "parameters": [
                    {
                        "name": "registration_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/validate_autharmor_autenticator_registration_request"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/validate_autharmor_autenticator_registration_request"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/validate_autharmor_autenticator_registration_request"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/validate_autharmor_autenticator_registration_request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/validate_autharmor_autenticator_registration_response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/validate_autharmor_autenticator_registration_response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/validate_autharmor_autenticator_registration_response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/v4/users/registrations/authenticator/start": {
            "post": {
                "tags": [
                    "autharmor",
                    "User Registrations - Authenticator"
                ],
                "summary": "  Start User Registration for Authenticator",
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_autharmor_autenticator_registration_new_user_request"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_autharmor_autenticator_registration_new_user_request"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_autharmor_autenticator_registration_new_user_request"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_autharmor_autenticator_registration_new_user_request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/start_autharmor_authenticator_registration_new_user_response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/start_autharmor_authenticator_registration_new_user_response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/start_autharmor_authenticator_registration_new_user_response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/v4/users/registrations/magiclink_email/start": {
            "post": {
                "tags": [
                    "autharmor",
                    "User Registrations - Magiclink Email"
                ],
                "summary": "  Start User Registration for MagicLink",
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_magiclink_email_registration_request"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_magiclink_email_registration_request"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_magiclink_email_registration_request"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_magiclink_email_registration_request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/start_magiclink_email_registration_response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/start_magiclink_email_registration_response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/start_magiclink_email_registration_response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/v4/users/{user_id}": {
            "put": {
                "tags": [
                    "autharmor",
                    "Users"
                ],
                "summary": "  Update User",
                "parameters": [
                    {
                        "name": "username",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/update_user_request"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/update_user_request"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/update_user_request"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/update_user_request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/user"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/user"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/user"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "autharmor",
                    "Users"
                ],
                "summary": "  Get User By Id",
                "parameters": [
                    {
                        "name": "username",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_user_response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_user_response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_user_response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/v4/users/{user_id}/magiclink_email/update/start": {
            "post": {
                "tags": [
                    "autharmor",
                    "User Registrations - Magiclink Email"
                ],
                "summary": "  Start Change Users Email Address",
                "parameters": [
                    {
                        "name": "username",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_change_magiclink_email_registration_request"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_change_magiclink_email_registration_request"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_change_magiclink_email_registration_request"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_change_magiclink_email_registration_request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/start_change_magiclink_email_registration_response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/start_change_magiclink_email_registration_response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/start_change_magiclink_email_registration_response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/v4/users/{user_id}/registrations/magiclink_email/start": {
            "post": {
                "tags": [
                    "autharmor",
                    "User Registrations - Magiclink Email"
                ],
                "summary": "  Create Magiclink Email Record for existing user",
                "parameters": [
                    {
                        "name": "username",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_magiclink_email_registration_request"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_magiclink_email_registration_request"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_magiclink_email_registration_request"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_magiclink_email_registration_request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/start_magiclink_email_registration_response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/start_magiclink_email_registration_response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/start_magiclink_email_registration_response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/v4/users/registrations/{registration_Id}": {
            "get": {
                "tags": [
                    "autharmor",
                    "User Registrations - Get Registration Info"
                ],
                "summary": "  Get Registration Info",
                "parameters": [
                    {
                        "name": "registration_Id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_registration_info_response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_registration_info_response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_registration_info_response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/v4/users/{user_id}/credentials/authenticator": {
            "get": {
                "tags": [
                    "autharmor",
                    "Users - Credentials"
                ],
                "summary": "  Get Users Authenticator Credential list",
                "parameters": [
                    {
                        "name": "username",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page_number",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "sort_direction",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort_column",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_user_credentials_response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_user_credentials_response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_user_credentials_response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/v4/users/{user_id}/credentials": {
            "get": {
                "tags": [
                    "autharmor",
                    "Users - Credentials"
                ],
                "summary": "  Get Users Credentials list",
                "parameters": [
                    {
                        "name": "username",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page_number",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "sort_direction",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort_column",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_user_credentials_response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_user_credentials_response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_user_credentials_response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/v4/users/{user_id}/credentials/magiclink_email": {
            "get": {
                "tags": [
                    "autharmor",
                    "Users - Credentials"
                ],
                "summary": "  Get Users Authenticator Credential list",
                "parameters": [
                    {
                        "name": "username",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page_number",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "sort_direction",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort_column",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_user_credentials_response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_user_credentials_response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_user_credentials_response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/v4/users/{user_id}/credentials/webauthn": {
            "get": {
                "tags": [
                    "autharmor",
                    "Users - Credentials"
                ],
                "summary": "  Get Users WebAuthn Device list",
                "parameters": [
                    {
                        "name": "username",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page_number",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "sort_direction",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort_column",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_user_credentials_response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_user_credentials_response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_user_credentials_response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/v4/users/{user_id}/credentials/{credential_id}": {
            "get": {
                "tags": [
                    "autharmor",
                    "Users - Credentials"
                ],
                "summary": "  Get Users Credential by Credential ID",
                "parameters": [
                    {
                        "name": "username",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "credential_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/credential"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/credential"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/credential"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/v4/users/{user_id}/credentials/{credential_id}/disable": {
            "post": {
                "tags": [
                    "autharmor",
                    "Users - Credentials"
                ],
                "summary": "  Disable Users Credential by Id",
                "parameters": [
                    {
                        "name": "username",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "credential_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/credential"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/credential"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/credential"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/v4/users": {
            "get": {
                "tags": [
                    "autharmor",
                    "Users"
                ],
                "summary": "  Get Users",
                "parameters": [
                    {
                        "name": "username",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page_number",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "sort_direction",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort_column",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_users_response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_users_response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_users_response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/v4/users/registrations/magiclink_email/{registration_id}/validate": {
            "post": {
                "tags": [
                    "autharmor",
                    "User Registrations - Magiclink Email"
                ],
                "summary": "  Validate MagicLink Registration Token",
                "parameters": [
                    {
                        "name": "registration_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/validate_magiclink_email_registration_request"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/validate_magiclink_email_registration_request"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/validate_magiclink_email_registration_request"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/validate_magiclink_email_registration_request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/validate_magiclink_email_registration_response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/validate_magiclink_email_registration_response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/validate_magiclink_email_registration_response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/v4/users/{user_id}/registrations/authenticator/start": {
            "post": {
                "tags": [
                    "autharmor",
                    "User Registrations - Authenticator"
                ],
                "summary": "  Start Authenticator Registration for existing user",
                "parameters": [
                    {
                        "name": "username",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/start_autharmor_authenticator_registration_for_user_response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/start_autharmor_authenticator_registration_for_user_response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/start_autharmor_authenticator_registration_for_user_response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/v4/users/{user_id}/registrations/webauthn/start": {
            "post": {
                "tags": [
                    "autharmor",
                    "User Registrations - WebAuthn"
                ],
                "summary": "  Start WebAuthn Registration for existing user",
                "parameters": [
                    {
                        "name": "username",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_add_webauthn_to_user_request"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_add_webauthn_to_user_request"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_add_webauthn_to_user_request"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_add_webauthn_to_user_request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/start_add_webauthn_to_user_response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/start_add_webauthn_to_user_response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/start_add_webauthn_to_user_response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/v4/users/registrations/webauthn/{registration_id}/validate": {
            "post": {
                "tags": [
                    "autharmor",
                    "User Registrations - WebAuthn"
                ],
                "summary": "  Validate User Registration for WebAuthn",
                "parameters": [
                    {
                        "name": "registration_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/validate_webauthn_registration_request"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/validate_webauthn_registration_request"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/validate_webauthn_registration_request"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/validate_webauthn_registration_request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/validate_webauthn_registration_response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/validate_webauthn_registration_response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/validate_webauthn_registration_response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/v4/users/registrations/webauthn/start": {
            "post": {
                "tags": [
                    "autharmor",
                    "User Registrations - WebAuthn"
                ],
                "summary": "  Start WebAuthn Registration for new user",
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_new_webauthn_user_registration_request"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_new_webauthn_user_registration_request"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_new_webauthn_user_registration_request"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/start_new_webauthn_user_registration_request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/start_new_webauthn_user_registration_response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/start_new_webauthn_user_registration_response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/start_new_webauthn_user_registration_response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/v4/users/registrations/webauthn/{registration_id}/finish": {
            "post": {
                "tags": [
                    "autharmor",
                    "User Registrations - WebAuthn"
                ],
                "summary": "  Finish WebAuthn Registration for new user",
                "parameters": [
                    {
                        "name": "registration_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/finish_new_webauthn_user_registration_request"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/finish_new_webauthn_user_registration_request"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/finish_new_webauthn_user_registration_request"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/finish_new_webauthn_user_registration_request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/finish_new_webauthn_user_registration_response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/finish_new_webauthn_user_registration_response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/finish_new_webauthn_user_registration_response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/v4/users/{user_id}/registrations/webauthn/{registration_id}/finish": {
            "post": {
                "tags": [
                    "autharmor",
                    "User Registrations - WebAuthn"
                ],
                "summary": "  Finish WebAuthn Registration for existing user",
                "parameters": [
                    {
                        "name": "username",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "registration_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json-patch+json": {
                            "schema": {
                                "$ref": "#/components/schemas/finish_add_webauthn_to_user_request"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/finish_add_webauthn_to_user_request"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/finish_add_webauthn_to_user_request"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/finish_add_webauthn_to_user_request"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/finish_add_webauthn_to_user_response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/finish_add_webauthn_to_user_response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/finish_add_webauthn_to_user_response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/v4/users/{user_id}/auth_history": {
            "get": {
                "tags": [
                    "autharmor",
                    "Users"
                ],
                "summary": "  Get Auth History for User",
                "parameters": [
                    {
                        "name": "username",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page_number",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "sort_direction",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort_column",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_user_auth_history_response"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_user_auth_history_response"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/get_user_auth_history_response"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "auth_details": {
                "type": "object",
                "properties": {
                    "request_details": {
                        "$ref": "#/components/schemas/request_details"
                    },
                    "response_details": {
                        "$ref": "#/components/schemas/auth_response_details"
                    }
                },
                "additionalProperties": false
            },
            "auth_method_use_type_response": {
                "enum": [
                    "biometric",
                    "pin",
                    "autharmor_pin",
                    "u2f_securitykey",
                    "u2f_usb",
                    "u2f_lightning",
                    "u2f_bluetooth",
                    "u2f_nfc",
                    "fido2_bluetooth",
                    "fido2_usb",
                    "fido2_lightning",
                    "fido2_nfc",
                    "fido2",
                    "fido2_mobiledevice",
                    "fido2_crossplatform",
                    "magiclink_email"
                ],
                "type": "string"
            },
            "auth_methods": {
                "enum": [
                    "MobileDevice",
                    "SecurityKey",
                    "AuthArmorAuthenticator",
                    "Magiclink_Email",
                    "Maigclink_SMS",
                    "WebAuthN"
                ],
                "type": "string"
            },
            "auth_profile_details": {
                "type": "object",
                "properties": {
                    "user_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "username": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "auth_response": {
                "type": "object",
                "properties": {
                    "auth_history_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "result_code": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "result_message": {
                        "type": "string",
                        "nullable": true
                    },
                    "authorized": {
                        "type": "boolean"
                    },
                    "auth_details": {
                        "$ref": "#/components/schemas/auth_details"
                    }
                },
                "additionalProperties": false
            },
            "auth_response_details": {
                "type": "object",
                "properties": {
                    "date": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "auth_method": {
                        "$ref": "#/components/schemas/response_auth_method"
                    },
                    "secure_signed_message": {
                        "$ref": "#/components/schemas/secure_signed_message"
                    },
                    "mobile_device_details": {
                        "$ref": "#/components/schemas/mobile_device_details"
                    },
                    "auth_profile_details": {
                        "$ref": "#/components/schemas/auth_profile_details"
                    }
                },
                "additionalProperties": false
            },
            "authenticator_attachment_type": {
                "enum": [
                    "Any",
                    "CrossPlatform",
                    "Platform"
                ],
                "type": "string"
            },
            "credential": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "nullable": true
                    },
                    "credential_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "date_created": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "device_type": {
                        "$ref": "#/components/schemas/credential_type"
                    },
                    "enabled": {
                        "type": "boolean"
                    }
                },
                "additionalProperties": false
            },
            "credential_type": {
                "enum": [
                    "autharmor_authenticator",
                    "webauthn",
                    "magiclink_email"
                ],
                "type": "string"
            },
            "enrolled_auth_method": {
                "type": "object",
                "properties": {
                    "auth_method_name": {
                        "type": "string",
                        "nullable": true
                    },
                    "auth_method_id": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "auth_method_masked_info": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "fido2_registration_data": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "nullable": true
                    },
                    "attestation_object": {
                        "type": "string",
                        "nullable": true
                    },
                    "client_data": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "finish_add_webauthn_to_user_request": {
                "required": [
                    "aa_sig",
                    "authenticator_response_data"
                ],
                "type": "object",
                "properties": {
                    "aa_sig": {
                        "minLength": 1,
                        "type": "string"
                    },
                    "authenticator_response_data": {
                        "$ref": "#/components/schemas/fido2_registration_data"
                    },
                    "webauthn_client_id": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "finish_add_webauthn_to_user_response": {
                "type": "object",
                "properties": {
                    "registration_validation_token": {
                        "type": "string",
                        "nullable": true
                    },
                    "user_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "username": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "finish_new_webauthn_user_registration_request": {
                "required": [
                    "aa_sig",
                    "authenticator_response_data"
                ],
                "type": "object",
                "properties": {
                    "aa_sig": {
                        "minLength": 1,
                        "type": "string"
                    },
                    "authenticator_response_data": {
                        "$ref": "#/components/schemas/fido2_registration_data"
                    },
                    "webauthn_client_id": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "finish_new_webauthn_user_registration_response": {
                "type": "object",
                "properties": {
                    "registration_validation_token": {
                        "type": "string",
                        "nullable": true
                    },
                    "user_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "username": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "finish_webauthn_auth_request": {
                "type": "object",
                "properties": {
                    "authenticator_response_data": {
                        "type": "string",
                        "nullable": true
                    },
                    "aa_sig": {
                        "type": "string",
                        "nullable": true
                    },
                    "auth_request_id": {
                        "type": "string",
                        "nullable": true
                    },
                    "webauthn_client_id": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "finish_webauthn_auth_response": {
                "type": "object",
                "properties": {
                    "auth_validation_token": {
                        "type": "string",
                        "nullable": true
                    },
                    "user_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "auth_request_id": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "username": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "get_auth_request_response": {
                "type": "object",
                "properties": {
                    "auth_request_status_id": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "auth_request_status_name": {
                        "type": "string",
                        "nullable": true
                    },
                    "auth_response": {
                        "$ref": "#/components/schemas/auth_response"
                    }
                },
                "additionalProperties": false
            },
            "get_registration_info_response": {
                "type": "object",
                "properties": {
                    "registration_status_name": {
                        "type": "string",
                        "nullable": true
                    },
                    "registration_status_code": {
[...]
